spring:
  application:
    name: wwc
  datasource:
    url: jdbc:h2:mem:wwc
    username: admin
    password: admin
    driverClassName: org.h2.Driver
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create-drop
    defer-datasource-initialization: true